body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(204, 202, 201);
  min-height: 95vh;
  grid-template-rows: 200px 200px;
}

.main {
  display: inline-block;
}

h1 {
  font-size: 5rem;
  text-align: center;
  

}

h2{
  text-align: center;
  text-transform: lowercase;
  font-family: Arial, Helvetica, sans-serif;
}

h3{
  text-align: center;
  margin-top: 500px

}

footer {
  color: midnightblue;
  text-align: left;
  margin-top: 270px;
}

.logo{
  width:50px;
  height:50px;
  
}

.fr , #green{
  color: rgb(100, 171, 100);
}

#ft {
  text-transform: uppercase;
  color:  rgb(78, 95, 41);
  font-weight: bold;
}

  
.card-text{
  font-weight: bold;
  margin-top: 90px;
  text-align: right;

}

.card-title1{
  margin-top: 50px;
}

.tile-image{
  height:500px;
  float: left;
  display: inline;
}

.tile-image1{
 height:600px;
 margin-top:-100px;
 float: right;
 display: inline;
}

.card-title{
  margin-top: 400px;
}

@media(max-width: 680px){
  div {
  
  background-color: brown;
  width: 100%;
}

.tile-image , .tile-image1{
  width: 100%;
  height: 100%;
}

}
